#root {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 1rem;
    text-align: center;
}

body {
    margin: 0;
    width: 650px;
    overflow: hidden;
    color: var(--text-color);
    background-color: var(--background-color);
}

h1 {
    font-size: 2rem;
    line-height: 1.1;
    margin: 0;
}

.container {
    display: grid;
    text-align: left;
    grid-template-rows: auto minmax(0, 1fr) auto;
    height: 100%;
}

.header {
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
    justify-items: right;
    column-gap: 0.5em;
}

.selector {
    display: flex;
    justify-content: center;
    column-gap: 0.5em;
    padding-top: 0.5em;
}

.logo {
    height: 5em;
    padding: 0.5em;
    will-change: filter;
    transition: filter 300ms;
}

.logo:hover {
    filter: drop-shadow(0 0 2em var(--shadow-color));
}

.settings {
    text-align: left;
}

.card > h3 {
    border-bottom: 1px solid var(--border-color);
}

.setting-group {
    display: flex;
    flex-direction: column;
    row-gap: 0.7em;
    padding: 0.7em;
}

.setting {
    margin: 0.3em 0em;
    display: grid;
    grid-template-columns: 120px auto;
    align-items: baseline;
}

.setting input {
    padding: 0.5em;
}

.setting label {
    /* width: 40%; */
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 500;
}

.setting select {
    width: 100%;
    padding: 0.5em;
    border-radius: 4px;
}

input,
select {
    color: var(--text-color);
    background-color: var(--surface-color);
    border: 1px solid var(--border-color);
}

.help-setting {
    font-size: 1.5em;
    padding-left: 0.5em;
}

.help-setting svg {
    color: var(--main-color);
    padding-right: 0.7em;
}

.last-synced {
    font-size: 1.2em;
    font-weight: bold;
}

.noselection {
    padding-left: 1em;
    color: var(--text-color);
}

/* TODO: this will go away soon */
.unimplemented {
    padding-left: 1em;
    color: var(--error-color);
}
